$topic-headers: #020202;
$icons: #353535;
$white: #fff;
$dim_white: #D2D2D2; 
$bg-active: #F3F7FF;
$bg-content: #F3F3F3;
$lines: #D2D2D2;

$light-grey: #979797;

$btn_success1: #13B35D;
$btn_success2: #E5F9EE;
$btn_wating1: #F2A028;
$btn_wating2: #FDF8E7;
$btn_update1: #0093FE;
$btn_update2: #E7F3FF;
$btn_danger1: #BF2C38;
$btn_danger2: #FAE2E4;
